<%- include('header') -%>
    <% for(let i=0;i < to_class.length;i++){ %>
        <p><%= to_class[i].name %></p>
    <% } %>
    <hr>
    <% for(let i=0;i < proxy.length;i++){ %>
        <form action="/proxy" method="post">
            <label>
                <p><%= proxy[i].name %></p>
                <input type="checkbox" name="proxy_done" value= <%= proxy[i]._id %>>
            </label>
    <% } %>
            <button name="submit-proxy" type="submit">Submit</button>
        </form>
<%- include('footer') -%>